.form{
    height: 100vh;
}
.scheda{
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}
.account{
    margin-top: -90px;
}
.account img{
    max-height: 150px;
}
.text-form{

}
input{
    margin: 10px 5px;
}

.bnt-form{

}
